<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="QuanLyDiemHocSinh" connectionString="Data Source=DESKTOP-1RV1U8N\SQLEXPRESS;Initial Catalog=QuanLyDiemHocSinh;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"  />
  
 </connectionStrings>
</configuration>



